@import "../../variaveis/variaveis";
.tabela {
  table {
    width: 100%;
    text-align: center;
    margin-top: 50px;
    border: 1px solid $cor-primaria;
    border-collapse: collapse;
    .coluna {
      font-family: $font-principal;
      color: $cor-secundaria;
      font-size: 18px;
      background-color: $cor-primaria;
      &__tituloTabela {
        padding: 20px;

        &__carro {
          width: 200px;
        }
        &__total {
          width: 100px;
        }
        &__vaga {
          width: 200px;
        }
      }
    }
  }
}
