@import "../../variaveis/variaveis";
.titulo {
  color: $cor-primaria;
  font-family: $font-principal;
  font-size: 52px;
}
.descricao {
  font-family: $font-principal;
  font-size: 18px;
  margin: 0;
}
