@import "../../variaveis/variaveis";
.estabelecimentoTabela {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 150px);
  &__conteudo {
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    &__titulo {
      h1 {
        font-family: $font-principal;
        color: $cor-primaria;
        font-size: 52px;
      }
    }
  }
}
